html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/*blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}*/
del {
  text-decoration: line-through;
}

hr {
  background: transparent;
  border: 0;
  clear: both;
  color: transparent;
  height: 1px;
  margin: 0;
  padding: 0;
}

mark {
  background-color: #ffffb3;
  font-style: italic;
}

input, select {
  vertical-align: middle;
}

ins {
  background-color: red;
  color: white;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 549px) {
  body header {
    height: 100vh;
  }
}

/*Header*/
header {
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
}
@media (min-width: 992px) {
  header {
    height: 100vh;
    float: left;
    width: 100%;
  }
  header #hideMenu {
    display: none;
  }
  header .btn-menu {
    display: none;
  }
  header .menu {
    width: 100%;
    height: 90px;
    background-color: rgba(117, 117, 117, 0.438);
    position: fixed;
    top: 0;
    z-index: 4;
    backdrop-filter: blur(6px);
  }
  header .menu ul {
    width: 50%;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  header .menu ul li {
    float: left;
    width: 15%;
    margin-right: 20px;
  }
  header .menu ul li a {
    color: #fff;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    text-decoration: none;
  }
  header .title-flash {
    width: 40%;
    float: left;
    height: 100vh;
    background-color: #981f11;
  }
  header .title-flash p {
    float: left;
    font-size: clamp(2em, 2em + 2vw, 2.5em);
    color: #fff;
    margin: 80% 5% 0 5%;
  }
  header .img-flash {
    width: 60%;
    float: left;
    overflow: hidden;
  }
  header .img-flash img {
    width: 160%;
    height: 100vh;
  }
}
@media (max-width: 991px) {
  header #hideMenu {
    display: none;
  }
  header .btn-menu {
    display: none;
  }
  header .menu {
    width: 100%;
    height: 90px;
    background-color: rgba(117, 117, 117, 0.438);
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
  }
  header .menu ul {
    width: 50%;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  header .menu ul li {
    float: left;
    width: 15%;
    margin-right: 20px;
  }
  header .menu ul li a {
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
  }
  header .title-flash {
    width: 30%;
    float: left;
    height: 100vh;
    background-color: #981f11;
  }
  header .title-flash p {
    float: left;
    font-size: clamp(1.5em, 2em + 2vw, 1.3em);
    color: #fff;
    margin: 100% 5% 0 5%;
  }
  header .img-flash {
    width: 70%;
    float: left;
    overflow: hidden;
  }
  header .img-flash img {
    width: 160%;
    height: 100vh;
  }
}
@media (max-width: 819px) {
  header .menu {
    width: 100%;
    height: 90px;
    background-color: rgba(117, 117, 117, 0.438);
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
    z-index: 3;
  }
  header .menu ul {
    width: 100%;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  header .menu ul li {
    float: left;
    width: 10%;
    margin-right: 20px;
    margin-left: 20px;
  }
  header .menu ul li a {
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
  }
  header .title-flash {
    width: 100%;
    float: left;
    height: 20vh;
    background-color: rgba(152, 31, 17, 0.747);
    position: relative;
    top: 70vh;
  }
  header .title-flash p {
    text-align: center;
    font-size: 1.8em;
    color: #fff;
    margin: 6% auto;
    float: none;
  }
  header .img-flash {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-top: -20vh;
    height: 100vh;
  }
  header .img-flash img {
    width: 160%;
    height: 100vh;
  }
}
@media (max-width: 459px) {
  header {
    /*Menu*/
  }
  header .menu {
    width: 100%;
    height: 90px;
    background-color: rgba(117, 117, 117, 0.438);
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
  }
  header .menu ul {
    width: 100%;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  header .menu ul li {
    float: left;
    width: 10%;
    margin-right: 20px;
    margin-left: 20px;
  }
  header .menu ul li a {
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
  }
  header .title-flash {
    width: 100%;
    float: left;
    height: 15vh;
    background-color: rgba(152, 31, 17, 0.747);
    position: relative;
    top: 70vh;
  }
  header .title-flash p {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    margin: 5% 2%;
  }
  header .img-flash {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-top: -15vh;
  }
  header .img-flash img {
    margin-left: -7vh;
    width: 310%;
    height: 100vh;
  }
  header .btn-menu {
    display: block;
    position: fixed;
    z-index: 4;
    top: 20px;
    right: 0px;
    bottom: 0px;
    left: 20px;
    background-color: rgba(156, 241, 241, 0.663);
    overflow: hidden;
    width: 46px;
    height: 48px;
    border-radius: 10px;
    transition: 0.6s;
  }
  header .btn-menu i {
    transition: 0.6s;
    color: rgba(126, 122, 8, 0.712);
  }
  header .btn-menu #showMenu {
    font-size: 43px;
    margin-left: 4px;
    margin-top: 2px;
  }
  header .btn-menu:hover {
    background-color: rgba(68, 148, 148, 0.662745098);
    transition: 0.6s;
  }
  header .btn-menu:hover i {
    color: #fff;
    transition: 0.6s;
  }
  header #nav-menu {
    position: fixed;
    top: 0px;
    left: -455px;
    bottom: 0px;
    z-index: 4;
    width: 90%;
    height: 100vh;
    background-color: rgba(247, 50, 50, 0.596);
    box-shadow: 0px 0px 10px black;
    transition: left 0.5s linear;
  }
  header #nav-menu #hideMenu {
    display: block;
    float: left;
    width: 100%;
    color: rgb(255, 251, 39);
    transition: 0.6s;
  }
  header #nav-menu #hideMenu i {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 60px;
  }
  header #nav-menu #hideMenu:hover {
    color: rgb(163, 44, 44);
    transition: 0.6s;
  }
  header #nav-menu .wrapper-title-menu {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  header #nav-menu .wrapper-title-menu .icon-nav-menu {
    float: left;
    margin-top: 10px;
    width: 20px;
  }
  header #nav-menu .wrapper-title-menu .icon-nav-menu i {
    font-size: 16px;
    color: #fff;
  }
  header #nav-menu .wrapper-title-menu p {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: westbourne-serif-regular;
    color: #fff;
    float: left;
    font-weight: bold;
  }
  header #nav-menu ul {
    margin: 10px 10px 0 15px;
    transform: none;
    top: 5%;
  }
  header #nav-menu ul li {
    width: 70%;
    margin-bottom: 20px;
    float: left;
  }
  header #nav-menu ul li a {
    font-size: 2.5em;
    margin-left: 20px;
    color: #fff;
    margin: 10px;
    text-decoration: none;
    transition: 0.6s;
  }
  header #nav-menu ul li a:hover {
    color: rgb(233, 210, 0);
    transition: 0.6s;
  }
  header #nav-menu.show {
    left: 0px;
  }
}

@media (min-width: 992px) {
  section.about-flash {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #000;
  }
  section.about-flash .about-flash__img {
    width: 40%;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.about-flash .about-flash__img img {
    width: 400px;
  }
  section.about-flash .about-flash__content {
    float: left;
    width: 55%;
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  section.about-flash .about-flash__content h2 {
    font-size: 3em;
    margin-bottom: 5px;
  }
  section.about-flash .about-flash__content h3 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  section.about-flash .about-flash__content p {
    font-size: 1.7em;
  }
}
@media (max-width: 991px) {
  section.about-flash {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #000;
  }
  section.about-flash .about-flash__img {
    width: 40%;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.about-flash .about-flash__img img {
    width: 350px;
  }
  section.about-flash .about-flash__content {
    float: left;
    width: 55%;
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  section.about-flash .about-flash__content h2 {
    font-size: 2.8em;
    margin-bottom: 5px;
  }
  section.about-flash .about-flash__content h3 {
    font-size: 1.8em;
    margin-bottom: 30px;
  }
  section.about-flash .about-flash__content p {
    font-size: 1.5em;
  }
}
@media (max-width: 819px) {
  section.about-flash {
    height: 100%;
    float: left;
  }
  section.about-flash .about-flash__img {
    width: 100%;
    float: left;
    display: block;
    height: auto;
    text-align: center;
  }
  section.about-flash .about-flash__img img {
    width: 230px;
  }
  section.about-flash .about-flash__content {
    width: 95%;
    position: initial;
    transform: none;
    text-align: center;
    margin: auto auto 70px auto;
    float: none;
  }
  section.about-flash .about-flash__content h2 {
    font-size: 1.9em;
    margin-bottom: 5px;
  }
  section.about-flash .about-flash__content h3 {
    font-size: 1.6em;
    margin-bottom: 30px;
  }
  section.about-flash .about-flash__content p {
    font-size: 1.5em;
  }
}
@media (max-width: 459px) {
  section.about-flash {
    height: 100%;
    float: left;
  }
  section.about-flash .about-flash__img img {
    width: 250px;
  }
  section.about-flash .about-flash__content {
    margin-bottom: 60px;
  }
  section.about-flash .about-flash__content h2 {
    font-size: 2em;
    margin-bottom: 5px;
  }
  section.about-flash .about-flash__content h3 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  section.about-flash .about-flash__content p {
    font-size: 1.3em;
  }
}

/*Gallery*/
@media (min-width: 992px) {
  section.gallery-flash {
    padding-top: 10%;
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
  }
  section.gallery-flash #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
  section.gallery-flash .gallery-flash__title {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 20px 0px;
  }
  section.gallery-flash .gallery-flash__title h2 {
    font-size: 6em;
    margin-bottom: 50px;
    color: chartreuse;
  }
  section.gallery-flash .gallery-flash__wrapper {
    width: 80%;
    margin: 0 auto;
    float: none;
    position: relative;
    z-index: 2;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img {
    width: 32%;
    float: left;
    margin-right: 1%;
    border: 1px solid #fff;
    height: 300px;
    overflow: hidden;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__picture {
    width: 100%;
    max-height: 260px;
    overflow: hidden;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__picture img {
    width: 100%;
    transition: all 1s ease;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__pic-description {
    float: left;
    width: 100%;
    background-color: #981f11;
    background: linear-gradient(to left, #981f11 50%, #ffe604 50%) right;
    background-size: 200% 100%;
    background-position: right bottom;
    padding-bottom: 10%;
    line-height: 40px;
    transition: all 1s ease;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__pic-description p {
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    margin-left: 10px;
    transition: all 1s ease;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img:hover .gallery-flash__picture img {
    transform: scale(1.2);
    transition: all 1s ease;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img:hover .gallery-flash__pic-description {
    background-color: #fff;
    background-position: left bottom;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img:hover .gallery-flash__pic-description p {
    color: #981f11;
    transition: all 1s ease;
  }
}
@media (max-width: 991px) {
  section.gallery-flash {
    width: 100%;
    float: left;
    position: relative;
  }
  section.gallery-flash #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
  section.gallery-flash .gallery-flash__title {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 20px 0px;
  }
  section.gallery-flash .gallery-flash__title h2 {
    font-size: 6em;
    color: chartreuse;
  }
  section.gallery-flash .gallery-flash__wrapper {
    width: 80%;
    margin: 0 auto;
    float: none;
    position: relative;
    z-index: 2;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img {
    width: 32%;
    float: left;
    margin-right: 1%;
    border: 1px solid black;
    height: 300px;
    overflow: hidden;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__picture {
    width: 100%;
    max-height: 260px;
    overflow: hidden;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__picture img {
    width: 100%;
    transition: all 1s ease;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__pic-description {
    float: left;
    width: 100%;
    background-color: #981f11;
    background: linear-gradient(to left, #981f11 50%, #ffe604 50%) right;
    background-size: 200% 100%;
    background-position: right bottom;
    padding-bottom: 10%;
    line-height: 40px;
    transition: all 1s ease;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__pic-description p {
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    margin-left: 10px;
    transition: all 1s ease;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img:hover .gallery-flash__picture img {
    transform: scale(1.2);
    transition: all 1s ease;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img:hover .gallery-flash__pic-description {
    background-color: #fff;
    background-position: left bottom;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img:hover .gallery-flash__pic-description p {
    color: #981f11;
    transition: all 1s ease;
  }
}
@media (max-width: 1079px) {
  section.gallery-flash .gallery-flash__wrapper {
    width: 30%;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 889px) {
  section.gallery-flash .gallery-flash__title h2 {
    font-size: 4.5em;
  }
  section.gallery-flash .gallery-flash__wrapper {
    width: 30%;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img {
    width: 100%;
    margin-bottom: 20px;
    height: 250px;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__picture {
    height: 214px;
  }
  section.gallery-flash .gallery-flash__wrapper .gallery-flash__box-img .gallery-flash__picture img {
    height: 214px;
  }
}
@media (max-width: 459px) {
  section.gallery-flash .gallery-flash__title h2 {
    font-size: 2.5em;
  }
  section.gallery-flash .gallery-flash__wrapper {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
