@use "sass:map";
@use "reset";

$breakpoint : (
    small : 576px,
    medium : 768px,
    large : 992px,
    extraLarge : 1200px
);

@mixin mqu($key){
    @if map.has-key($breakpoint, $key){
        $size : map.get($breakpoint, $key);

        @media (min-width: $size){
            @content;
        }
    }@else{
        @media (min-width: #{$key}px){
            @content;
        }
    }
}

@mixin mqd($key){
    @if map.has-key($breakpoint, $key){
        $size : map.get($breakpoint, $key) - 1;

        @media (max-width: $size) {
            @content;
        }
    }@else{
        $key : $key - 1;
        @media (max-width: #{$key}px){
            @content;
        }
    }
}


body{
    @include mqu(large){
        
    }

    @include mqd(550){

        header{
            height: 100vh;
        }
    }
}

/*Header*/
header{
    /**/
    @include mqu(large){

        //menu
        #hideMenu{
            display: none;
        }
        .btn-menu{
            display: none;
        }

        height: 100vh;
        float: left;
        width: 100%;

        .menu{
            width: 100%;
            height: 90px;
            background-color: rgba(117, 117, 117, 0.438);
            position: fixed;
            top: 0;
            z-index: 4;
            backdrop-filter: blur(6px);

            ul{
                width: 50%;
                float: right;
                position: relative;
                top: 50%;
                transform: translateY(-50%); 

                li{
                    float: left;
                    width: 15%;
                    margin-right: 20px;
                    a{
                        color: #fff;
                        font-size: clamp(1em, 1em + 1vw, 1.5em);
                        text-decoration: none;
                    }
                }
            }
        }

        .title-flash{
            width: 40%;
            float: left;
            height: 100vh;
            background-color: #981f11;

            p{
                float: left;
                font-size: clamp(2em, 2em + 2vw, 2.5em);
                color: #fff;
                margin: 80% 5% 0 5%;
            }
        }

        .img-flash{
            width: 60%;
            float: left;
            overflow: hidden;
            
            img{
                width: 160%;
                height: 100vh;
            }
        }
    }
    /**/

    /**/
    @include mqd(large){

        #hideMenu{
            display: none;
        }
        .btn-menu{
            display: none;
        }

        .menu{
            width: 100%;
            height: 90px;
            background-color: rgba(117, 117, 117, 0.438);
            position: fixed;
            top: 0;
            backdrop-filter: blur(2px);

            ul{
                width: 50%;
                float: right;
                position: relative;
                top: 50%;
                transform: translateY(-50%); 

                li{
                    float: left;
                    width: 15%;
                    margin-right: 20px;
                    a{
                        color: #fff;
                        font-size: 1.3em;
                        text-decoration: none;
                    }
                }
            }
        }

        .title-flash{
            width: 30%;
            float: left;
            height: 100vh;
            background-color: #981f11;

            p{
                float: left;
                font-size: clamp(1.5em, 2em + 2vw, 1.3em);
                color: #fff;
                margin: 100% 5% 0 5%;
            }
        }

        .img-flash{
            width: 70%;
            float: left;
            overflow: hidden;
            
            img{
                width: 160%;
                height: 100vh;
            }
        }
    }
    /**/

    /**/
    @include mqd(820){
        .menu{
            width: 100%;
            height: 90px;
            background-color: rgba(117, 117, 117, 0.438);
            position: fixed;
            top: 0;
            backdrop-filter: blur(2px);
            z-index: 3;

            ul{
                width: 100%;
                float: left;
                position: relative;
                
                top: 50%;
                transform: translateY(-50%); 

                li{
                    float: left;
                    width: 10%;
                    margin-right: 20px;
                    margin-left: 20px;
                    a{
                        color: #fff;
                        font-size: 1.3em;
                        text-decoration: none;
                    }
                }
            }
        }

        .title-flash{
            
            width: 100%;
            float: left;
            height: 20vh;
            background-color: rgba(152, 31, 17, 0.747);
            position: relative;
            top: 70vh;

            p{
                text-align: center;
                font-size: 1.8em;
                color: #fff;
                margin: 6% auto;
                float: none;

            }
        }

        .img-flash{
            width: 100%;
            float: left;
            overflow: hidden;
            margin-top: -20vh;
            height: 100vh;
            

            img{
                width: 160%;
                height: 100vh;
            }
        }
    }
    /**/

    /**/
    @include mqd(460){
        .menu{
            width: 100%;
            height: 90px;
            background-color: rgba(117, 117, 117, 0.438);
            position: fixed;
            top: 0;
            backdrop-filter: blur(2px);

            ul{
                width: 100%;
                float: left;
                position: relative;
                
                top: 50%;
                transform: translateY(-50%); 

                li{
                    float: left;
                    width: 10%;
                    margin-right: 20px;
                    margin-left: 20px;
                    a{
                        color: #fff;
                        font-size: 1.3em;
                        text-decoration: none;
                    }
                }
            }
        }

        .title-flash{
            
            width: 100%;
            float: left;
            height: 15vh;
            background-color: rgba(152, 31, 17, 0.747);
            position: relative;
            top: 70vh;

            p{
                text-align: center;
                font-size: 1.5em;
                color: #fff;
                margin: 5% 2%;
                
            }
        }

        .img-flash{
            width: 100%;
            float: left;
            overflow: hidden;
            margin-top: -15vh;

            img{
                margin-left: -7vh;
                width: 310%;
                height: 100vh;
            }
        }

        /*Menu*/
        .btn-menu {
            display: block;
            position: fixed;
            z-index: 4;
            top: 20px;  
            right: 0px;
            bottom: 0px;
            left: 20px;
            background-color: rgba(156, 241, 241, 0.663);
            overflow: hidden;
            width: 46px;
            height: 48px;
            border-radius: 10px;
            transition: .6s;
        
            i{
                transition: .6s;
                color:rgba(126, 122, 8, 0.712);
            }
        
            #showMenu{
                font-size: 43px;
                margin-left: 4px;
                margin-top: 2px;
            }
        
            &:hover{
                background-color: #449494a9;
                transition: .6s;
        
                i{
                    color: #fff;
                    transition: .6s;
                }
            }
        }
          
        #nav-menu {
            position: fixed;
            top: 0px;
            left: -455px;
            bottom: 0px;
            z-index: 4;
        
            width: 90%;
            height: 100vh;  
            background-color: rgba(247, 50, 50, 0.596);
        
            box-shadow: 0px 0px 10px black;
            transition: left 0.5s linear;
        
            #hideMenu{
                display: block;
                float: left;
                width: 100%;
                color: rgb(255, 251, 39);
                transition: .6s;
        
                i{
                    float: right;
                    margin-right: 10px;
                    margin-top: 10px;
                    font-size: 60px;
                }
        
                &:hover{
                    color: rgb(163, 44, 44);
                    transition: .6s;
                }
            }
            .wrapper-title-menu{
                float: left;
                width: 100%;
                margin-bottom: 5px;
                margin-left: 10px;
        
                .icon-nav-menu{
                    float: left;
                    margin-top: 10px;
                    width: 20px;
                    
                    i{
                        font-size: 16px;
                        color: #fff;
                    }
                }
        
                p{
                    font-size: 20px;
                    margin-left: 10px;
                    margin-top: 10px;
                    font-family: westbourne-serif-regular;
                    color: #fff;
                    float: left;
                    font-weight: bold;
                }
        
            }
        
            ul{
                margin: 10px 10px 0 15px;
                transform: none;
                top: 5%;
                

                li{
                    width: 70%; 
                    margin-bottom: 20px; 
                    float: left;
        
                    a{
                        font-size: 2.5em;
                        margin-left: 20px;
                        color: #fff;
                        margin: 10px;
                        text-decoration: none;
                        transition: .6s;
        
                        &:hover{
                            color:rgb(233, 210, 0);
                            transition: .6s;
                        }
                    }
                }
                
            }
            
        }
          
        #nav-menu.show {
            left: 0px;
        }
    }
    /**/
}

section.about-flash{
    @include mqu(large){
        width: 100%;
        height: 100vh;
        float: left;
        background-color: #000;

        .about-flash__img{
            width: 40%;
            height: 100vh;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 400px;
                
            }
        }

        .about-flash__content{
            float: left;
            width: 55%;
            color: #fff;
            position: relative;
            top: 50%;
            transform: translateY(-50%); 

            h2{
                font-size: 3em;
                margin-bottom: 5px;
            }
            h3{
                font-size: 2em;
                margin-bottom: 30px;
            }
            p{
                font-size: 1.7em;
            }
        }
    }

    @include mqd(large){
        width: 100%;
        height: 100vh;
        float: left;
        background-color: #000;

        .about-flash__img{
            width: 40%;
            height: 100vh;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 350px;
            }
        }

        .about-flash__content{
            float: left;
            width: 55%;
            color: #fff;
            position: relative;
            top: 50%;
            transform: translateY(-50%); 

            h2{
                font-size: 2.8em;
                margin-bottom: 5px;
            }
            h3{
                font-size: 1.8em;
                margin-bottom: 30px;
            }
            p{
                font-size: 1.5em;
            }
        }
    }

    @include mqd(820){
        height: 100%;
        float: left;

        .about-flash__img{
            width: 100%;
            float: left;
            display: block;
            height: auto;
            text-align: center;

            img{
                width: 230px;
            }
        }

        .about-flash__content{
            width: 95%;
            position: initial;
            transform: none;
            text-align: center;
            margin: auto auto 70px auto;
            float: none;

            h2{
                font-size: 1.9em;
                margin-bottom: 5px;
            }
            h3{
                font-size: 1.6em;
                margin-bottom: 30px;
            }
            p{
                font-size: 1.5em;
            }
        }
    }

    @include mqd(460){
        height: 100%;
        float: left;

        .about-flash__img{
            img{
                width: 250px;
            }
        }

        .about-flash__content{
            margin-bottom: 60px;

            h2{
                font-size: 2em;
                margin-bottom: 5px;
            }
            h3{
                font-size: 1.5em;
                margin-bottom: 30px;
            }
            p{
                font-size: clamp(1em, 1.3em, 1.4em) ;
            }
        }
    }

}

/*Gallery*/
section.gallery-flash{
    @include mqu(large){
        padding-top: 10%;
        width: 100%;
        float: left;
        height: 100vh;
        position: relative;

        #myVideo {
            position: absolute;
            right: 0;
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;
            z-index: 0;
        }


        .gallery-flash__title{
            float: left;
            width: 100%;
            text-align: center;
            position: relative;
            z-index: 2;
            margin: 20px 0px;
            
            h2{
                font-size: 6em;
                margin-bottom: 50px;
                color: #fff;                
            }
        }

        .gallery-flash__wrapper{
            width: 80%;
            margin: 0 auto;
            float: none;
            position: relative;
            z-index: 2;

            .gallery-flash__box-img{
                width: 32%;
                float: left;
                margin-right: 1%;
                border: 1px solid #fff;
                height: 300px;
                overflow: hidden;
                

                .gallery-flash__picture{
                    width: 100%;
                    max-height: 260px;
                    overflow: hidden;

                    img{
                        width: 100%;
                        transition:all 1s ease;
                    }
                }

                .gallery-flash__pic-description{
                    float: left;
                    width: 100%;
                    background-color: #981f11;
                    background: linear-gradient(to left, #981f11 50%, #ffe604 50%) right;
                    background-size: 200% 100%;
                    background-position:right bottom;
                    padding-bottom: 10%;
                    line-height: 40px;
                    transition:all 1s ease;

                    p{
                        font-size: 14px;
                        color: #fff;
                        vertical-align: middle;
                        margin-left: 10px;
                        transition:all 1s ease;
                    }
                }

                &:hover{
                    .gallery-flash__picture{
                        
                        img{
                            transform: scale(1.2);
                            transition:all 1s ease;
                        }
                    }

                    .gallery-flash__pic-description{
                        background-color: #fff;
                        background-position: left bottom;
                        p{
                            color: #981f11;
                            transition:all 1s ease;
                        }
                    }
                }
            }
        }
    }

    @include mqd(large){
        width: 100%;
        float: left;
        //height: 100vh;
        position: relative;

        #myVideo {
            position: absolute;
            right: 0;
            bottom: 0;
            min-width: 100%; 
            min-height: 100%;
            z-index: 0;
        }

        .gallery-flash__title{
            float: left;
            width: 100%;
            text-align: center;
            position: relative;
            z-index: 2;
            margin: 20px 0px;
            
            h2{
                font-size: 6em;
                color: #fff;                
;                
            }
        }

        .gallery-flash__wrapper{
            width: 80%;
            margin: 0 auto;
            float: none;
            position: relative;
            z-index: 2;

            .gallery-flash__box-img{
                width: 32%;
                float: left;
                margin-right: 1%;
                border: 1px solid black;
                height: 300px;
                overflow: hidden;

                .gallery-flash__picture{
                    width: 100%;
                    max-height: 260px;
                    overflow: hidden;

                    img{
                        width: 100%;
                        transition:all 1s ease;
                    }
                }

                .gallery-flash__pic-description{
                    float: left;
                    width: 100%;
                    background-color: #981f11;
                    background: linear-gradient(to left, #981f11 50%, #ffe604 50%) right;
                    background-size: 200% 100%;
                    background-position:right bottom;
                    padding-bottom: 10%;
                    line-height: 40px;
                    transition:all 1s ease;

                    p{
                        font-size: 14px;
                        color: #fff;
                        vertical-align: middle;
                        margin-left: 10px;
                        transition:all 1s ease;
                    }
                }
                
                &:hover{
                    .gallery-flash__picture{
                        
                        img{
                            transform: scale(1.2);
                            transition:all 1s ease;
                        }
                    }

                    .gallery-flash__pic-description{
                        background-color: #fff;
                        background-position: left bottom;
                        p{
                            color: #981f11;
                            transition:all 1s ease;
                        }
                    }
                }
            }
        }
    }

    @include mqd(1080){
        .gallery-flash__wrapper{
            
            width: 30%;
            
            .gallery-flash__box-img{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    @include mqd(890){
        .gallery-flash__title{

            h2{
                font-size: 4.5em;
            }
        }

        .gallery-flash__wrapper{
            width: 50%;

            .gallery-flash__box-img{
                width: 100%;
                margin-bottom: 20px;
                height: 250px;

                .gallery-flash__picture{
                    height: 214px;

                    img{
                        height: 214px;
                    }
                }

            }
        }
    }

    @include mqd(460){
        .gallery-flash__title{
            h2{
                font-size: 2.5em;
            }
        }

        .gallery-flash__wrapper{
            width: 70%;
        }
    }
}

/*Fans*/
section.fans-flash{
    @include mqu(large){
        width: 100%;
        height: 100vh;
        background-color: #f8f8f8;
        float: left;

        .fans-flash__wrapper{

            width: 95%;
            left: 50%;
            top: 16%;
            position: relative;
            transform: translateX(-50%);
            float: left;


            .fans-flash__title{
                float: left;
                width: 23%;
                margin-right: 2%;

                div:nth-child(1){
                    margin-bottom: 60px;
                    P{
                        font-size: 29px;
                        color: #9e9e9e;
                    }
                }

                div:nth-child(2){
                    p{
                        font-size: 14px;
                        color: #9e9e9e;
                    }
                }
            }

            .fans-flash__quote{
                float: left;
                width: 75%;

                .fans-flash__text{
                    height: 340px;
                    width: 100%;

                    span{
                        font-size: 49px;
                        margin-right: 10px;
                        position: relative;
                        left: -5px;
                        float: left;
                    }
                    p{
                        font-size: 49px;
                        margin-top: -12px;
                    }
                }

                .fans-flash__person{
                    float: left;
                    width: 100%;
                    border-top: 1px solid #ccc;
                    padding-top: 20px;

                    .fans-flash__person--img-person{
                        float: left;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;

                        img{
                            max-width: 80px;
                            max-height: 80px;
                            border-radius: 50%;
                        }
                    }

                    .fans-flash__person--person-info{
                        float: left;
                        width: 80%;
                        margin-left: 15px;
                        margin-top: 15px;

                        .name{
                            margin-bottom: 5px;
                            font-size: 30px;
                        }

                        .job{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    @include mqd(large){
        width: 100%;
        height: 100vh;
        background-color: #f8f8f8;
        float: left;

        .fans-flash__wrapper{

            width: 95%;
            left: 50%;
            top: 16%;
            position: relative;
            transform: translateX(-50%);
            float: left;


            .fans-flash__title{
                float: left;
                width: 23%;
                margin-right: 2%;

                div:nth-child(1){
                    margin-bottom: 60px;
                    P{
                        font-size: 29px;
                        color: #9e9e9e;
                    }
                }

                div:nth-child(2){
                    p{
                        font-size: 14px;
                        color: #9e9e9e;
                    }
                }
            }

            .fans-flash__quote{
                float: left;
                width: 75%;

                .fans-flash__text{
                    height: 340px;
                    width: 100%;

                    span{
                        font-size: 49px;
                        margin-right: 10px;
                        position: relative;
                        left: -5px;
                        float: left;
                    }
                    p{
                        font-size: 49px;
                        margin-top: -12px;
                    }
                }

                .fans-flash__person{
                    float: left;
                    width: 100%;
                    border-top: 1px solid #ccc;
                    padding-top: 20px;

                    .fans-flash__person--img-person{
                        float: left;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;

                        img{
                            max-width: 80px;
                            max-height: 80px;
                            border-radius: 50%;
                        }
                    }

                    .fans-flash__person--person-info{
                        float: left;
                        width: 80%;
                        margin-left: 15px;
                        margin-top: 15px;

                        .name{
                            margin-bottom: 5px;
                            font-size: 30px;
                        }

                        .job{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    @include mqd(820){

        .fans-flash__wrapper{
            width: 98%;
            
            .fans-flash__title{
                width: 100%;

                div:nth-child(1){
                    margin-bottom: 30px;
                }
            
                div:nth-child(2){
                    display: none;
                }
            }
            
            .fans-flash__quote{
                width: 90%;
                margin-left: 3%;

                .fans-flash__text{
                    span{
                        color: rgba(224, 219, 219, 0.63);
                        position: absolute;
                        left: -1%;
                        top: 20px;
                        font-size: 120px;                    
                    }

                    p{
                        font-size: 40px;
                    }
                }
            }
        }
        
    }

    @include mqd(500){
        .fans-flash__wrapper{
            .fans-flash__title{
                div:nth-child(1){
                    margin-bottom: 60px;
                }
            }
            .fans-flash__quote{
                .fans-flash__text{
                    height: 250px;

                    p{
                        font-size: 32px;
                    }
                }
            }

            .fans-flash__quote{
                .fans-flash__person{
                    .fans-flash__person--person-info{
                        width: 65%;
    
                        .name{
                            font-size: 20px;
                        }
                        .job{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        
    }
}